@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<h1>
    <a asp-action="ListMovies" asp-controller="Admin">Back to DashBoard</a>
</h1>

<div>
    @ViewData["message"]
</div>